.container{
  margin-left: 50px;
  margin-right: 50px;
}
.contents{
  margin-bottom: 10px;
}
.price_area{
  display: inline-flex;
}
.price_box{
  width: 130px;
  text-align: right;
}
.select_area select{
  width:100px;
  height: 25px;
  margin-right:10px;
}

.select_area .btn{
  width:100px;
  background-color: #66cdaa;
  border-radius: 5px;
  border:2px #3cb371;
}
